body {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	box-sizing: border-box;
	overflow: visible;
	background-color: rgb(0 0 0);
}

header button {
	min-width: 4.2rem;
}

#wrapper {
	background-image: url("../assets/milky_way.jpg");
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
}

#wrapper {
	max-width: 768px;
}

h2,
h3 {
	text-shadow: 0 0 3px black;
}

h2 {
	font-size: 1.3rem;
}

h3 p {
	font-size: 1.2rem;
}
h4 {
	font-size: 1rem;
}

ol {
	background-image: radial-gradient(transparent, #0000008f);
	list-style-type: decimal;
	color: green;
}
ol li:hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #ffb100a6 5%, #ce15d14a, #3100ff47, transparent);
	mix-blend-mode: screen;
	text-shadow: 0 0 3px black;
}

p i.fas:hover {
	background-color: black !important;
}

/* custom class */
.btn:focus {
	box-shadow: none;
}

.btn-outline-iris {
	color: gainsboro;
	border-color: gainsboro;
}
.btn-outline-iris:hover {
	color: inherit;
	border-left-color: #ffb300e0;
	border-top-color: #ce15d1dc;
	border-right-color: #0f87d5f5;
	border-bottom-color: #5eff00b0;
}
.btn-outline-iris:active {
	border-color: inherit;
	background-image: linear-gradient(to right, #ffb100c2 5%, #ce15d17a, #3100ff6e);
}

.btn-outline-cyan {
	color: cyan;
	border-color: cyan;
}
.btn-outline-cyan:hover {
	color: black;
	border-color: cyan;
	background-color: cyan;
}
.btn-outline-cyan:active {
	color: cyan !important;
	border-color: cyan !important;
}

.btn-outline-aquamarine {
	color: aquamarine;
	border-color: aquamarine;
}
.btn-outline-aquamarine:hover {
	color: inherit;
	border-color: aquamarine;
	background-color: aquamarine;
}
.btn-outline-aquamarine:active {
	color: aquamarine !important;
	border-color: aquamarine !important;
}

.text-cyan {
	color: cyan;
}
.text-aquamarine {
	color: aquamarine;
}
.text-gold {
	color: gold;
}
.text-greenyellow {
	color: greenyellow;
}

.bg-black-fade-top {
	background-image: linear-gradient(to top, #0000008f 50%, transparent);
}
.bg-black {
	background-color: #0000008f;
}

/* dynamic class */
.is-hidden {
	visibility: hidden;
}
.is-none {
	display: none;
}
.is-not-allowed {
	cursor: not-allowed !important;
}
