body {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	box-sizing: border-box;
	overflow: visible;
	background-color: rgb(0 0 0);
}

#wrapper {
	background-image: url("../assets/milky_way.jpg");
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
}

#wrapper {
	max-width: 768px;
}

h2,
h3 {
	text-shadow: 0 0 2px black;
}

h2 {
	font-size: 1.3rem;
}

h3 span, h4 {
	font-size: 1rem;
}

ol {
	background-image: radial-gradient(transparent, #0000008f);
}
ol li:hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #ffb100c2 5%, #ce15d17a, #3100ff6e, transparent);
	mix-blend-mode: screen;
	text-shadow: 0 0 2px black;
}

p i.fas:hover {
	background-color: black !important;
}

/* custom class */
.btn-outline-plum {
	color: gainsboro;
	border-color: gainsboro;
}
.btn:focus {
	box-shadow: none;
}
.btn-outline-plum:hover {
	color: inherit;
	border-left-color: #ffb300e0;
	border-top-color: #ce15d1dc;
	border-right-color: #0f87d5f5;
	border-bottom-color: #5eff00b0;
}
.btn-outline-plum:active {
	border-color: inherit;
	background-image: linear-gradient(to right, #ffb100c2 5%, #ce15d17a, #3100ff6e);
}
.text-cyan {
	color: cyan;
}
.text-aquamarine {
	color: aquamarine;
}

/* dynamic class */
.is-hidden {
	visibility: hidden;
}
